.CardProduct {
  border: 2px solid black;
  margin: 10px;
  height: 100%;
  width: 40%;
  min-width: 150px;
  padding: 10px;
}

.CardProduct img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.CardProduct .img-product {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardProduct .div-qtd {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CardProduct h3{
  font-size: 20px;
  height: 40px;
  align-self: flex-start;
  justify-self: flex-start;
}

.CardProduct h2{
  font-size: 20px;
  height: 40px;
  text-align: center;
}

.CardProduct .div-qtd {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.CardProduct .div-qtd input[type="number"] {
  width: 50%;
  font-size: 25px;
  text-align: center;
}

.CardProduct .div-qtd input[type="button"] {
  width: 20%;
  background: transparent;
  border: 0;
  font-size: 40px;
}

.CardProduct .div-qtd input[type="button"]:hover {
  color: royalblue;
  transform: scale(1.2)
}

.Products .list-products {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.CardProduct {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Products .btn-checkout {
  position: fixed;
  color: black;
  width: 80%;
  display: flex;
  justify-content: center;
  background: greenyellow;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  top: 90%;
  max-width: 400px;
  font-size: 18px;
  z-index: 0;
}

.Products .btn-checkout span {
  width: 50%;
}

.Products .btn-checkout:disabled {
  background: grey;
}

@media only screen and (max-width: 460px) {
  .CardProduct {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
