.card {
  border: 1px solid black;
  margin: 0 0 50px;
  padding: 5px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
