.Checkout .body-checkout {
  padding-top: 100px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Checkout .ListCar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}


.Checkout .ListCar .product-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
  margin: 10px;
}
