
.OneOrder .div-order {
  background: white;
  border: 2px solid black;
  align-self: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 100px 50px 0;
}

.OneOrder .list-products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.OneOrder .list-products .detail-products {
  border: 2px solid black;
  font-size: 14px;
  display: flex;
  width: 40%;
  min-width: 240px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

.OneOrder {
  display: flex;
  flex-direction: column;
  background: #0FA36B;
  height: 100vh;
}
