.Orders .list-orders {
  align-items: center;
  background: #0FA36B;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 120px;
}

.Orders .message-orders {
  margin-top: 0;
  padding-top: 200px;
  text-align: center;
}
